header {
    padding: 30px 0;
}

.p-hamburger {
    cursor: pointer;
}

.p-hamburger span {
    width: 20px;
    height: 3px;
    background: #000;
    display: block;
    margin-bottom: 4px;
}

.p-hamburger span:last-child {
    margin-bottom: 0;
}

.p-hamburger span:nth-child(2) {
    width: 10px;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    padding: 0 40px;
}

header ul li:first-child {
    padding-left: 0;
}

header ul li:last-child {
    padding-right: 0;
}

a,
a:hover {
    text-decoration: none;
}

header ul li a {
    color: #000000;
    font-weight: 500;
    position: relative;
}

header ul li a:hover::after,
header ul li a.is-active::after {
    content: "";
    background: rgba(137, 43, 226, 0.455);
    height: 5px;
    position: absolute;
    left: 1px;
    z-index: -1;
    bottom: 0;
    right: -3px;
}

.ul-items {
    display: block;
}

#toggle-menu {
    display: none;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 101;
    background-color: #f5f5f5;
}

.menu-toggle::before,
.menu-toggle::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle::before {
    top: 8px;
}

.menu-toggle::after {
    top: 18px;
}

.time {
    margin-top: 2px;
    margin-left: -30px;
}

.time2 {
    display: none;
}

.weather-box {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.weather-icon {
    margin-right: 10px;
    font-size: 24px;
    color: #000000;
}

.weather-info p {
    margin: 0;
    font-size: 14px;
}

#sidebarMenu {
    position: fixed;
    top: 0;
    right: 0;
    /* Cambiamos "left" por "right" */
    height: 100vh;
    width: 80%;
    /* Cambia el valor del ancho según tus necesidades */
    max-width: 120px;
    background-color: #f5f5f5;
    transform: translateX(100%);
    /* Cambiamos "-100%" por "100%" */
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    overflow-y: auto;
}

#sidebarMenu .main-content-wrapper {
    padding: 20px;
}

#sidebarMenu a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

#sidebarMenu a:hover {
    background-color: #ccc;
}

#sidebarMenu .close-btn {
    display: none;
    padding: 10px;
    background-color: #ccc;
    color: #000;
    border: none;
    cursor: pointer;
}

#sidebarMenu .close-btn:hover {
    background-color: #aaa;
}

#sidebarMenu::-webkit-scrollbar {
    width: 8px;
}

#sidebarMenu::-webkit-scrollbar-track {
    background-color: transparent;
}

#sidebarMenu::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
    /* Cambiamos "-100%" por "0" */
}

@media (min-width: 991px) {
    .menu-toggle,
    .time {
        display: block;
    }
    #sidebarMenu {
        display: none;
    }
    .time2 {
        display: none;
    }
}

input[type="checkbox"] {
    transition: all 0.3s;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 22px;
    width: 22px;
    left: 20px;
    top: 20px;
    display: none;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}

.horizontal {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type="checkbox"]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    opacity: 0;
}

input[type="checkbox"]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type="checkbox"]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    transform: rotate(-135deg);
    margin-top: -9px;
}

@media screen and (max-width: 991px) {
    .sidebarIconToggle {
        display: block;
    }
    .time {
        display: none;
    }
    .time2 {
        margin-top: -10px;
        margin-right: -100px;
        position: relative;
        display: block;
    }
    .weather-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
        background-color: transparent;
    }
    .weather-icon {
        margin-right: 10px;
        font-size: 20px;
        color: #000000;
    }
    .weather-info p {
        margin: 0;
        font-size: 11px;
    }
}


/* Media Queries */


/* Para dispositivos móviles y pantallas pequeñas */

@media (max-width: 767px) {
    .ul-items {
        display: none;
        /* Oculta completamente el encabezado en dispositivos móviles */
    }
    .search-icon {
        display: none;
    }
    .sidebarIconToggle {
        left: 35px;
        top: 40px;
    }
}


/* Para tabletas y pantallas medianas */

@media (min-width: 768px) and (max-width: 991px) {
    .ul-items {
        display: none;
        /* Oculta completamente el encabezado en tabletas */
    }
    .search-icon {
        display: none;
    }
    .sidebarIconToggle {
        width: 32px;
        left: 102px;
        top: 40px;
    }
}


/* Para pantallas grandes */

@media (min-width: 992px) {
    /* Mantén los estilos originales para pantallas grandes */
}