<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>
<section>
    <!-- Header -->
    <div class="">
        <app-header></app-header>
    </div>

    <!-- Body/Router -->
    <div class="">
        <router-outlet></router-outlet>
    </div>
    <!-- /Body /Router -->
</section>