.space3 {
    margin-left: 30px;
    margin-right: 30px;
}

.space1 {
    margin-top: 125px;
}

.contact-box {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-box-header {
    margin-bottom: 20px;
}

.contact-box-header h2 {
    font-size: 24px;
    font-weight: bold;
}

.contact-box-body {
    margin-bottom: 20px;
}

.contact-option {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-option i {
    margin-right: 10px;
    font-size: 20px;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.contact-option span {
    font-size: 16px;
}

.contact-box-footer {
    margin-top: 20px;
}

@media (max-width: 576px) {
    .contact-box {
        padding: 10px;
    }
    .contact-box-header h2 {
        font-size: 20px;
    }
    .contact-option i {
        font-size: 16px;
    }
    .contact-option span {
        font-size: 14px;
    }
}

.btn-space {
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 767px) {
    .iframe-show {
        display: block;
        display: flex;
        justify-content: center;
    }
    .iframe-space {
        display: none;
    }
    .space3 {
        margin-left: -25px;
        margin-right: -25px;
    }
    .space1 {
        margin-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .iframe-space {
        display: none;
    }
    .iframe-show {
        display: block;
        margin-left: -10px;
    }
    .container2 {
        margin-left: 50px;
    }
    .space1 {
        margin-top: 25px;
    }
}

@media (min-width: 992px) {
    .iframe-show {
        display: none;
    }
    .iframe-space {
        display: block;
        margin-left: -20px;
    }
    .container2 {
        margin-left: 100px;
    }
}
