/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
.container {
    max-width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.p-flex {
    display: flex;
}

.p-flex-align-center {
    align-items: center;
}

.p-flex-jc-sb {
    justify-content: space-between;
    padding-right: 70px;
}

header {
    background-color: blueviolet;
    margin-bottom: 30px;
}


/* Media Queries */


/* Para dispositivos móviles y pantallas pequeñas */

@media (max-width: 767px) {}


/* Para tabletas y pantallas medianas */

@media (min-width: 768px) and (max-width: 991px) {}


/* Para pantallas grandes */

@media (min-width: 992px) {}