/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
.container {
    max-width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.p-flex {
    display: flex;
}

.p-flex-align-center {
    align-items: center;
}

.p-flex-jc-sb {
    justify-content: space-between;
    padding-right: 70px;
}

.p-wrapper {
    position: relative;
}

.p-wrapper::before {
    content: '';
    background-color: blueviolet;
    height: 100vh;
    width: 25vw;
    position: absolute;
    z-index: -1;
}


/* Media Queries */


/* Estilos específicos para pantallas móviles en orientación horizontal */

@media only screen and (max-width: 472px) and (orientation: landscape) {
    .p-wrapper2 {
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        content: '';
        background-color: blueviolet;
        height: 10vh;
        width: 200vw;
        position: absolute;
    }
}


/* Para dispositivos móviles y pantallas pequeñas */

@media (max-width: 767px) {
    .p-wrapper::before {
        display: none;
    }
    .p-wrapper2 {
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        content: '';
        background-color: blueviolet;
        height: 10vh;
        width: 120vw;
        position: absolute;
    }
    .body-content {
        padding-top: 120px;
    }
}


/* Para tabletas y pantallas medianas */

@media (min-width: 768px) and (max-width: 991px) {
    .p-wrapper::before {
        width: 30vw;
        height: 110vh;
        /* Ajusta la altura según tus necesidades */
    }
    .body-content {
        padding-top: 120px;
    }
}


/* Para pantallas grandes */

@media (min-width: 992px) {
    .p-wrapper::before {
        width: 30vw;
        height: 120vh;
    }
}